
.Hero {
  width:100%;
  background: linear-gradient(-45deg, #1e3a8a, #9333ea, #3b82f6, #10b981);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
  transform: translateY(-90px);
  box-shadow: 0px 15px 60px gray;
  outline: 1px solid #2b9962;
  overflow: hidden;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.Hero H1{
  margin-top: 100px;
  margin-bottom: 60px;
  color: white;
}
.Hero .Para{
   width: 70%;
   margin: auto;
   margin-bottom: 100px;
   padding: 10px;
   border-top: 1px  solid white;
   border-bottom: 1px solid white;
   color: white;
}