body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Exam Page Style */
.Exams  {
  text-align: left;
}
.Exams h1{
  text-align: center;
  margin-bottom: 60px;
}

/* Home page Style  */
.Home H1{
  margin-bottom: 60px;
}
.Home .Para{
   width: 70%;
   margin: auto;
   margin-bottom: 40px;
   padding: 5px;
   border-top: 1px  solid gray;
   border-bottom: 1px solid gray;
}
.Home a {
 text-decoration: none;
}
.Home a:hover svg{
  transform:scale(1.2);
  transform-style: preserve-3d;
  transition: 2s;
}
.Home a{
  transform: rotateY(360deg) !important;
  transform-style: preserve-3d;
    transition: 5s;
}
/* .Home a:hover {
  background-color: royalblue !important
 } */

/* Content Style */
.Content h1{
  margin-bottom: 60px;
}

/* Sidebar Style  */
.Sidebar{
  margin-top: 20px;
}

/* PdfViewr Style */
.pdf-page-wrapper canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: white;
  padding: 0;
  border: none;
}


.hero-bg {
  background: linear-gradient(-45deg, #1e3a8a, #9333ea, #3b82f6, #10b981);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
